---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    dateKey: "experience.focusbear.date",
    titleKey: "experience.focusbear.title",
    descriptionKey: "experience.focusbear.description",
    date: "January 2026 - Today",
    title: "Frontend Engineer Intern",
    company: "FocusBear",
    description:
    "FocusBear is a productivity app focused on habit adherence and focus sessions, is specially useful for neurodivergent people that wants to keep their life in order.",
    link: "https://dashboard.focusbear.io/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
